body{
  background-image: url("https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 100vh;
  object-fit:cover;
  object-position:center;
}